NODE_ENV=
PORT=
API_PREFIX=
SWAGGER_ENABLED=

# RabbitMQ
RABBITMQ_URL=
EVENTS_EXCHANGE=
RABBITMQ_PREFETCH=

# Object storage
STORAGE_ENDPOINT=
STORAGE_BUCKET=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_REGION=
